<div>
    <dx-tab-panel height="90%" width="100%" [dataSource]="tabList" [selectedIndex]="0" [loop]="true"
        [animationEnabled]="true" [swipeEnabled]="true">

        <div *dxTemplate="let dto of 'title'">
            <span *ngIf="dto.id===1">{{ dto.name }}</span>
            <span *ngIf="dto.id===2">{{ dto.name }} (0)</span>
        </div>

        <div *dxTemplate="let dto of 'item'">
            <div class="tabpanel-item">

                <div *ngIf="dto.id===1">
                    <div>
                        <div class="mains">
                            <div style="width:40%;float:left;display:block;height:auto;">
                                <img *ngIf="this.stateData.data.image===null" class="images"
                                    src="assets/images/no_image.jpg" alt="" />
                                <img *ngIf="this.stateData.data.image" class="images"
                                    [src]="'data:image/png;base64,'+this.stateData.data.image" alt="" tabindex="0" />

                                <div class="property">
                                    <p>Öne Çıkan Özellikler:</p>
                                    <div class="widget-container">
                                        <dx-list [dataSource]="propertyDataSource" [height]="400">
                                        </dx-list>
                                    </div>
                                </div>
                            </div>

                            <div style="width:30%;float:left;display:block;height:auto;">
                                <tr>
                                    <td>
                                        <div class="ordName">{{this.stateData.data.stockName}}</div>
                                    </td>
                                    <td>
                                        <div class="ordPercent">({{this.stateData.data.percent}}
                                            {{this.stateData.data.rateName}})</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="ordPrice">{{this.stateData.data.price}} ₺</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="font-size: 1rem;font-weight: bold;margin-top: 3rem;">Adet</div>
                                    </td>
                                    <td>
                                        <div style="width: 7rem;">
                                            <dx-number-box #numberBox [max]="100" [min]="0" [showSpinButtons]="true"
                                                (onValueChanged)="setValueQuantity($event)" [value]="quantity"></dx-number-box>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <button id="button" type="button" class="btn btn-outline-warning"
                                                (click)="addBasket()">Sepete Ekle
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </div>

                            <div style="width:300%;float:left;display:block;height:auto;">
                            </div>
                        </div>
                    </div>


                </div>

                <div *ngIf="dto.id===2">
                    <app-stock-comment [data]="this.stateData.data.id"></app-stock-comment>
                </div>

            </div>
        </div>

    </dx-tab-panel>
</div>