<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card border" style="margin-bottom: 0;">
          <div class="card-header card-header-info card-header-icon">
            <h4 class="card-title">Stock List</h4>
          </div>
          <div class="card-body" style="min-height: calc(90vh - 193px);">
            <div class="row">
              <dx-data-grid #stockDataGrid [dataSource]="dataSource" [showBorders]="true">
                <dxo-editing mode="form" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true"
                  [useIcons]="true">
                </dxo-editing>
                <dxo-search-panel [visible]="true" [width]="400" placeholder="Search..."></dxo-search-panel>

                <dxo-toolbar>
                  <dxi-item name="addRowButton"></dxi-item>
                  <dxi-item location="after">
                    <dx-button icon="refresh" (onClick)="refreshDataGrid($event)">
                    </dx-button>
                  </dxi-item>
                  <dxi-item location="after">
                    <dx-button icon="upload" text="Exel" (onClick)="openPopapExcel()">
                    </dx-button>
                  </dxi-item>
                </dxo-toolbar>


                <dxi-column dataField="stockName" caption="Stok">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="unitType" caption="Birim" [width]="200">
                  <dxo-lookup [dataSource]="dataUnitSource" displayExpr="name" valueExpr="name">
                  </dxo-lookup>
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="availableQuantity" format="#0.##" [width]="200" caption="Miktar">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="userId" caption="Kullanıcı" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="creDate" dataType="date" caption="Kayıt Tarihi"
                  [allowEditing]="false"></dxi-column>
                <dxi-column dataField="recordStatus" caption="Durum" [allowEditing]="false"></dxi-column>
                <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>

                <div *dxTemplate="let item of 'detail'">
                  <app-stock-image *ngIf="item.data" [data]="item.data"></app-stock-image>
                </div>

                <div *dxTemplate="let cellInfo of 'singleDropDownBoxEditor'">
                  <dx-drop-down-box [dropDownOptions]="dropDownOptions" [dataSource]="foodDataSource"
                    [(value)]="cellInfo.value" displayExpr="foodName" valueExpr="foodId"
                    contentTemplate="contentTemplate">
                    <div *dxTemplate="let e of 'contentTemplate'">
                      <dx-data-grid [dataSource]="foodDataSource" [remoteOperations]="true" [height]="250"
                        [selectedRowKeys]="[cellInfo.value]" [focusedRowEnabled]="true" [focusedRowKey]="cellInfo.value"
                        [hoverStateEnabled]="true" [showRowLines]="true" [rowAlternationEnabled]="true"
                        (onSelectionChanged)="onSelectionPersonChanged($event.selectedRowKeys, cellInfo, e.component)">
                        <dxi-column dataField="foodName"></dxi-column>
                        <dxo-scrolling mode="virtual"></dxo-scrolling>
                        <dxo-selection mode="single"></dxo-selection>

                        <dxo-paging [pageSize]="5"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5,10, 20, 50, 100]"
                          [showInfo]="true">
                        </dxo-pager>
                        <dxo-search-panel [visible]="true" [width]="150">
                        </dxo-search-panel>
                      </dx-data-grid>
                    </div>
                  </dx-drop-down-box>
                </div>

                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]"></dxo-pager>

                <dxo-header-filter [visible]=false>
                </dxo-header-filter>
                <dxo-filter-row [visible]="true">
                </dxo-filter-row>

                <dxo-remote-operations [groupPaging]="true">
                </dxo-remote-operations>

              </dx-data-grid>

              <dx-popup [width]="700" [height]="300" [showTitle]="true" title="Dosya Yükle" [dragEnabled]="false"
                [hideOnOutsideClick]="false" [showCloseButton]="true" [(visible)]="popupVisible">

                <div *dxTemplate="let data of 'content'">
                  <app-file *ngIf="popupVisible" path="payment/stocks/excel" [params]="params"
                    (fileEmitter)="fileEmitter($event)"></app-file>
                </div>
              </dx-popup>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>