<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card border" style="margin-bottom: 0px;">
          <div class="card-header card-header-info card-header-icon">
            <h4 class="card-title">Sepetim</h4>
          </div>
          <div class="card-body" style="min-height: calc(90vh - 193px);">
            <div class="row">
              <dx-data-grid #dataSourceGrid [dataSource]="dataSource" keyExpr="id" [allowColumnReordering]="true"
                [showBorders]="true" (onCellPrepared)="onCellPrepared($event)">

                <dxo-selection mode="single"></dxo-selection>
                <dxo-editing mode="cell" [allowUpdating]="false" [allowDeleting]="true" [allowAdding]="false"
                  [useIcons]="true">
                </dxo-editing>

                <dxo-toolbar>
                  <dxi-item location="after">
                    <dx-button icon="refresh" (onClick)="refreshDataGrid()">
                    </dx-button>
                  </dxi-item>
                  <dxi-item location="after">
                    <button id="button" type="button" class="btn btn-outline-info" (click)="payment()">Ödeme
                    </button>
                  </dxi-item>
                </dxo-toolbar>

                <dxi-column dataField="stock.stockName" caption="Ürün Adı"></dxi-column>
                <dxi-column dataField="quantity" caption="Miktar"> </dxi-column>
                <dxi-column dataField="stock.rate.percent" caption="İndirim"> </dxi-column>
                <dxi-column dataField="price" valueFormat="#0.00" caption="Fiyat" dataType="number"> </dxi-column>
                <dxi-column dataField="disprice" caption="İndirimli Fiyat"> </dxi-column>
                <dxi-column dataField="type" caption="Durum"> </dxi-column>
                <dxi-column dataField="creDate" dataType="date" caption="Kayıt Tarihi"></dxi-column>

                <dxo-summary [recalculateWhileEditing]="true">
                  <dxi-total-item column="price" summaryType="sum" valueFormat="#0.00"> </dxi-total-item>
                  <dxi-total-item column="disprice" summaryType="sum" displayFormat="Sum: {0}" name="disprice">
                  </dxi-total-item>
                </dxo-summary>

                <dxo-paging [pageSize]="100"></dxo-paging>
                <dxo-pager [visible]="false" [showPageSizeSelector]="true"
                  [allowedPageSizes]="[10, 20, 50]"></dxo-pager>

                <dxo-header-filter [visible]=false>
                </dxo-header-filter>
                <dxo-filter-row [visible]="false">
                </dxo-filter-row>

                <dxo-remote-operations [groupPaging]="false">
                </dxo-remote-operations>
              </dx-data-grid>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>