

.dx-button {
    text-transform: lowercase;
    font-size: 20rem;
}

.submet {
    font-size: 20rem;
    background-color: red;
    color: white;
}

.submet .dx-button {
    font-size: 20rem;
    background-color: red;
}

::ng-deep .submet {
    cursor: pointer;
    color: red;
    background-color: rgb(212, 225, 95);
    font-weight: bold;
  }


  ::ng-deep .buttons-group .dx-item-content {
    gap: 10px;
  }
  