<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card border" style="margin-bottom: 0px;">
          <div class="card-header card-header-info card-header-icon">
            <h4 class="card-title">Siparişlerim</h4>
          </div>
          <div class="card-body" style="min-height: calc(90vh - 193px);">
            <div class="row">
              <dx-data-grid #dataSourceGrid [dataSource]="dataSource" keyExpr="id" [allowColumnReordering]="true"
                [showBorders]="true" (onCellPrepared)="onCellPrepared($event)">

                <dxo-selection mode="single"></dxo-selection>
                <dxo-editing mode="cell" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false"
                  [useIcons]="true">
                </dxo-editing>

                <dxo-toolbar>
                  <dxi-item location="after">
                    <dx-button icon="refresh" (onClick)="refreshDataGrid()">
                    </dx-button>
                  </dxi-item>
                </dxo-toolbar>


                <dxi-column dataField="orderNo" caption="Sipariş No"></dxi-column>
                <dxi-column dataField="paymentNo" caption="Ödeme No"></dxi-column>
                <dxi-column dataField="orderStatus" caption="Durum"> </dxi-column>
                <dxi-column dataField="creDate" dataType="date" caption="Kayıt Tarihi"></dxi-column>

                <dxi-column dataField="paymentButton" caption="Ödeme" dataType="text" width="5%"
                  cellTemplate="paymentTemplate"></dxi-column>
                <dxi-column dataField="invoiceButton" caption="Fatura" dataType="text" width="5%"
                  cellTemplate="invoiceTemplate"></dxi-column>

                <div *dxTemplate="let dto of 'paymentTemplate'">
                  <fa-icon class="basket-icon" [icon]="faCreditCard" title="Ödeme Yap" style="cursor: pointer;"
                    (click)="openPayment(dto.data)"></fa-icon>
                </div>
                <div *dxTemplate="let dto of 'invoiceTemplate'">
                  <fa-icon class="basket-icon" [icon]="faFileDownload" title="Fatura Al" style="cursor: pointer;"
                    (click)="invoiceOrder($event)"></fa-icon>
                </div>

                <dxo-paging [pageSize]="100"></dxo-paging>
                <dxo-pager [visible]="false" [showPageSizeSelector]="true"
                  [allowedPageSizes]="[10, 20, 50]"></dxo-pager>

                <dxo-header-filter [visible]=false>
                </dxo-header-filter>
                <dxo-filter-row [visible]="false">
                </dxo-filter-row>

                <dxo-remote-operations [groupPaging]="true">
                </dxo-remote-operations>
              </dx-data-grid>

              <dx-popup [width]="800" [height]="500" [showTitle]="true" title="Ödeme Listesi" [dragEnabled]="false"
                [hideOnOutsideClick]="false" [showCloseButton]="true" [(visible)]="popupVisible">

                <div *dxTemplate="let data of 'content'">
                  <dx-data-grid #dataSourceGrid [dataSource]="dataItemsSource" keyExpr="id"
                    [allowColumnReordering]="true" [showBorders]="true">

                    <dxo-selection mode="single"></dxo-selection>
                    <dxo-editing mode="cell" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false"
                      [useIcons]="true">
                    </dxo-editing>

                    <dxo-toolbar>
                      <dxi-item location="after">
                        <button id="button" type="button" class="btn btn-outline-success" (click)="paymentOrder()">Ödeme
                        </button>
                      </dxi-item>
                      <dxi-item location="after">
                        <button id="button" type="button" class="btn btn-outline-secondary"
                          (click)="canselOrder()">Vazgeç
                        </button>
                      </dxi-item>
                    </dxo-toolbar>

                    <dxi-column dataField="stockName" caption="Ürün Adı"></dxi-column>
                    <dxi-column dataField="price" valueFormat="#0.00" caption="İndirimli Fiyat" dataType="number">
                    </dxi-column>
                    <dxi-column dataField="quantity" caption="Miktar"> </dxi-column>

                    <dxo-summary [recalculateWhileEditing]="true">
                      <dxi-total-item column="price" summaryType="sum" valueFormat="#0.00"> </dxi-total-item>
                    </dxo-summary>
                  </dx-data-grid>

                </div>
              </dx-popup>

              <dx-popup [width]="500" [height]="500" [showTitle]="true" title="Ödeme Ekranı" [dragEnabled]="false"
                [hideOnOutsideClick]="false" [showCloseButton]="true" [(visible)]="paymentVisible">
                <app-payment-scane [orderData]="orderData"
                  (paymentEmitter)="paymentEmitter($event)"></app-payment-scane>
              </dx-popup>

              <dx-popup [width]="400" [height]="400" [showTitle]="true" title="3D GÜVENLİK" [dragEnabled]="false"
                [hideOnOutsideClick]="false" [showCloseButton]="true" [(visible)]="submitVisible">
                <app-submit-scane [orderData]="orderData"></app-submit-scane>
              </dx-popup>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>