<div>

  <!--BASKET-->
  <!-- <div class="main-content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card border" style="margin-bottom: 0px;">

                      <div class="card-body" style="min-height: calc(10vh - 193px);">
                        <div class="row">
                          <div class="filter-container">
                            <img class="basket" ngSrc="assets/images/food/basket.png" height="80" width="100" alt="" />

                            <div class="dx-fieldset">
                              <div class="dx-field">
                                <div class="dx-field-label">
                                  <button type="button" class="btn btn-outline-primary" (click)="callBasket()">Sepetim
                                  </button>
                                </div>
                              </div>
                              <div class="dx-field">
                                <div class="dx-field-label" style="font-size: large;">Toplam Tutar</div>
                                <div class="dx-field-value-static" style="font-weight: bold;font-size: large;">
                                  {{totalPrice + ' ₺'}}</div>
                              </div>
                            </div>
                          </div>

                          <div class="list-container">
                            <dx-scroll-view id="scrollview">
                              <dx-data-grid #orderDataGrid [dataSource]="dataSource" [showBorders]="true">
                                <dxo-editing mode="form" [allowDeleting]="true" [useIcons]="true">
                                </dxo-editing>
                                <dxi-column dataField="image" [width]="130" [allowFiltering]="false"
                                  [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
                                <dxi-column dataField="food.foodName" caption="Food"></dxi-column>
                                <dxi-column dataField="status" caption="Status"></dxi-column>
                                <dxi-column dataField="price" width="100" format="#,###.## ₺"></dxi-column>

                                <div *dxTemplate="let data of 'cellTemplate'">
                                  <img *ngIf="data.value===null" class="images_basket"
                                    src="assets/images/food/poder.jpg" alt="" />
                                  <img *ngIf="data.value" class="images_basket" [src]="data.value" alt="" />
                                </div>
                              </dx-data-grid>
                            </dx-scroll-view>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

  <!--ORDER-->
  <div class="card-body" style="min-height: calc(50vh - 193px);">
    <div class="row">

      <dx-data-grid id="gridContainer" [dataSource]="dataSource" keyExpr="ID" [showBorders]="true"
        dataRowTemplate="dataRowTemplateName">

        <dxi-column caption="Resim"></dxi-column>

        <ng-container *dxTemplate="let dto of 'dataRowTemplateName'">

          <div class="mains">
            <div style="width:40%;float:left;display:block;">
              <img *ngIf="dto.data.image===null" class="images" src="assets/images/no_image.jpg" alt="" />
              <img *ngIf="dto.data.image" class="images" [src]="'data:image/png;base64,'+dto.data.image" alt=""
                tabindex="0" />
            </div>

            <div style="width:30%;float:left;display:block;">
              <tr>
                <td>
                  <div class="ordName">{{dto.data.stockName}}</div>
                </td>
                <td>
                  <div class="ordQuantity">({{dto.data.availableQuantity}} {{dto.data.unitType}})</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="ordPrice">{{dto.data.availableQuantity}} ₺</div>
                </td>
              </tr>
            </div>

            <div style="width:30%;float:left;display:block;">
              <tr>
                <td>
                  <div class="ordRate">{{dto.data.rateName}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="ordPercent">{{dto.data.percent}}</div>
                </td>
              </tr>
            </div>
          </div>
        </ng-container>


        <dxo-paging [pageSize]="50"></dxo-paging>
        <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]"></dxo-pager>

        <dxo-header-filter [visible]=false></dxo-header-filter>
        <dxo-filter-row [visible]="false"></dxo-filter-row>

        <dxo-remote-operations [groupPaging]="true">
        </dxo-remote-operations>
      </dx-data-grid>
    </div>
  </div>
</div>